
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="path/to/font-awesome/css/font-awesome.min.css">

</head>
<style>
    .optp {
        padding: 20px;
        border: white 3px solid;
        position: absolute;
        left: 04%;
        top: 2%;
        text-align: center;

        background-repeat: no-repeat;
        background-size: cover;
        height: 850px;
        width: 40%;
    }

    .k1 {
        padding-top: 580px;
        padding-right: 30px;
        padding-bottom: 50px;
        padding-left: 35px;
    }

    .top {
        right: 5%;
        top: 5%;
        position: absolute;
        color: wheat;
        padding: 5px;
        width: 40%;
        height: 40%;
        border: 30px;
        border: white;
        border: solid;
    }

    .top1 {
        right: 5%;
        top: 45%;
        position: absolute;
        color: wheat;
        width: 40%;
        height: 10%;
    }

    .container-fluid {
        right: 5%;
        top: 53%;
        padding: 5px;
        position: absolute;
        color: wheat;
        width: 40%;
        height: 80%;
    }

    .ip {
        left: 0%;
        top: 900PX;
        padding: 5px;
        position: absolute;
        color: white;
        position: absolute;
        bottom: 0px;
        border: white 3px solid;
        width: 100%;
        height: 15%;
    }
</style>

<body class="container" style="background-color:black;">

<div class="optp img-rounded img-responsive" style="background-position: center !important; background: url('@Url.Content("~/images1/WhatsApp Image 2020-05-19 at 2.14.59 AM.jpeg")">

        <div class="k1">
            <strong style="font-size: 60px; text-align: center; top: 50%; font-weight:bolder; color: wheat; font-family: fantasy;">
                Anosha
                Aziz
            </strong>
            
            <div class="ip">
                <div class="col-md-4 ">
                    <i class="material-icons" style="font-size:60px;">phone</i>
                    <br>
                    <strong style="font-size: 20px;">+923167033144</strong>

                </div>
                <div class="col-md-4">

                    <i class="material-icons" style="font-size:60px;">home</i>
                    <br>

                    <strong style="font-size: 20px;">
                        Sahiwal
                    </strong>
                </div>



                <div class="col-md-4">

                    <i class="material-icons" style="font-size:60px;">email</i>
                    <br>

                    <strong style="font-size: 17px;">
                        anoshaaziz09@gmail.com
                    </strong>
                </div>


            </div>

        </div>
    </div>
    <div class="top">
        <strong style="font-size: 60px; text-align: center; font-family: fantasy; font-weight: bolder;">
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;About
            Me
        </strong>
        <p style="font-size: 20px; text-align: center;">
            I'm Anosha Aziz from Sahiwal , working upon my communication as well writing skills accompanied by immense working hours dedicated to sharpening my programing skills adopting it as my major in professionalism.
            I'm highly fond of learning,exploring and synching with various aspects of being Human that triggers me to find more and more to assist others.
            I'm a poetess and writer while on same rank being a well harder working upon my coding skills.
            Hoping you to find me engrossing and entrancing for having my work be seen
        </p>
        <strong style="font: bolder; font-size: larger; text-align: center; font-size: 22px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; Thank you with an immense sense of indebtion </strong>

    </div>

    <div class="top1">
        <strong>
            <hr>
        </strong>
    </div>


    <div class="container-fluid">


        <div class="row">
            <div class="col-md-5 ">
                <div class="text-center"><i class="material-icons" style="font-size:60px;">school</i></div>
                <div class="text-center">
                    <div class="row">
                        <div class="col-md-2">
                            <i class="material-icons" title="From 2004 to 2015" style="font-size:40px;">
                                child_care
                            </i>
                        </div>
                        <div class="col-md-10">
                            <strong>
                                <p style="font-size: 20px;">
                                    Matric from Cadet School with 952 Marks
                        </div>

                    </div>
                    <br>
                    <div class="text-center">
                        <div class="row">
                            <div class="col-md-2">
                                <i class="material-icons" title="From 2015 to 2017" style="font-size:40px;">
                                    library_books
                                </i>
                            </div>
                            <div class="col-md-10">
                                <strong>
                                    <p style="font-size: 20px;">
                                        Intermediate from Punjab group of colleges with 954 Marks
                            </div>

                        </div>

                        <br>
                        <div class="text-center">
                            <div class="row">

                                <div class="col-md-2">

                                    <i class="material-icons" title="From 2017 to 2021" style="font-size:40px;">
                                        person
                                    </i>

                                </div>
                                <div class="col-md-10">
                                    <strong>
                                        <p style="font-size: 20px;">
                                            BCS from Comsats University Sahiwal with 3.49 CGPA
                                        </p>
                                    </strong>
                                </div>

                            </div>
                        </div>


                    </div>

                </div>
            </div>
            <div class="col-md-5 col-md-offset-2 ">
                <div class="text-center"><i class="material-icons" style="font-size:60px;">computer</i></div>
                <p style="font-size: 25px;">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Programming skills </p>
                <div class="text-center">

                    <strong style="font-size: 20px;">
                        Html
                        <br>
                        CSS
                        <br>
                        Java
                        <br>
                        JavaScript
                        <br>
                        Python
                        <br>
                        C++
                        <br>
                        C
                        <br>
                        C#
                        <br>
                        Asp.net MVC
                    </strong>


                </div>
            </div>



            </P>
        </div>
        <br>
        <div class="row">
            <div class="col-md-5 ">
                <div class="text-center"> <i class="material-icons" style="font-size:60px;">favorite</i></div>
                <div class="text-center">
                    <strong style="font-size: 20px;">
                        Astrology
                        <br>
                        poetry writing
                        <br>
                        psychic Reading
                        <br>
                        Tarot Reading
                        <br>
                        Horoscope

                    </strong>
                </div>
            </div>
            <div class="col-md-5 col-md-offset-2">
                <div class="text-center">  <i class="material-icons" style="font-size:60px;">card_travel</i></div>
                <br>
                <div class="text-center">
                    <strong style="font-size: 20px;">
                        Have been in Techstep Sahiwal for Asp.net MVC
                        <br>
                        Participation in 2019 International Essay Contest for Young People
                        <br>
                        Cerificate of Achievement SP19 BY CSS
                        <br>
                        CUI Certificate of Excellence FALL 2017

                    </strong>
                </div>

            </div>


        </div>








</body>



</html>