@model AstroWorldZodiac.Models.ContactViewModel
@{
    ViewData["Title"] = "Contact";
}

@if (ViewBag.Success != null && ViewBag.Success)
{
    <div class="alert alert-success alert-dismissible show" role="alert">
        <strong>Success!</strong> we have received your query and get back to you shortly.
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}
else
{
    <div class="container">
        <form asp-action="Contact">
            <div class="row">
                <div class="col-md-12 m-t-26">
                    <h1 class="text-primary">Send a Message</h1>
                    <hr>
                </div>
            </div>
            <div class="row m-t-20">
                <div class="col-md-12">
                    <img src="~/images/Contact-Line-Stripe.jpg" alt="loading" class="img-responsive">
                </div>
            </div>
            <div class="row content_margin con_pad">
                <div class="col-md-4 contact_block">
                    <div>
                        <label asp-for="Type" class="text-info content_margin">Subject:</label>
                        <select asp-for="Type" id="contact" class="contact_select form-control" style="width: 100%">
                            <option value="">Choose</option>
                            <option value="customerservice">Customer service</option>
                            <option value="registration">Registration</option>
                            <option value="plans">Plans</option>
                        </select>
                        <label asp-for="Name" class="text-info label_align">FirstName:</label>
                        <input type="text" asp-for="Name" id="contact_name" class="contact_name form-control">
                        <label asp-for="Email" class="text-info label_align">Email:</label>
                        <input type="email" asp-for="Email" id="contact_email" class="contact_email form-control">
                    </div>
                </div>
                <div class="col-md-8 contact_block">
                    <div>
                        <label asp-for="Message" class="text-info content_margin">Message:</label>
                        <textarea asp-for="Message" id="contact_text" cols="30" rows="8" class="form-control"
                                  placeholder="Your message comes here.."></textarea>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-xs-12">
                    <div class="align_btn contact_block text-center">
                        <input type="submit" class="btn btn-sm btn-primary content_margin m-b-25" value="Send Now">
                    </div>
                </div>
            </div>
        </form>
    </div>
}

<div id="contact_map" class="button_margin"></div>

