
@{
    ViewData["Title"] = "Feedbacks";
}


<section class="home_bg m-t-25">
    <div class="container">
        <div class="appointment">
            <div class="row">
                <div class="col-md-12">
                    <h4><b>Let us know about your Experience</b></h4>
                </div>
            </div>
            <div class="row float-right">
                <textarea rows="10" cols="50"></textarea>
                <button type="button" class="btn btn-success float-right" style="height: 90px; width: 130px"
                        >Success</button>
            </div>
        </div>
    </div>
</section>
