
@{
    ViewData["Title"] = "Gemestone";
}

    <div class="container">
        <div class="row">
            <div class="col-md-12 m-t-26 hr_bottom_align">
                <h1 class="text-primary">Gemstones Specialists:</h1>
                <hr>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a asp-controller="Home" asp-action="Appointment" asp-route-gemStoneId="1"  class="gemstone_hover">
                    <div class="gemsingle">
                        <img src="~/images/ruby_small.png" alt="image found" class="img-responsive hello">
                        <h2 class="text_modify">RUBY</h2>
                        <div class="gem_desc">
                            <p>
                                A good building stone should have compact fine crystalline structure free from cavities,
                                cracks or patches of soft or loose material.
                                The stones with such texture are strong and durable.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a asp-controller="Home"
                   asp-action="Appointment" asp-route-gemStoneId="2" class="gemstone_hover">
                    <div class="gemsingle">
                        <img src="~/images/pearl.png" alt="image found" class="img-responsive hello">
                        <h2 class="text_modify">PEARL</h2>
                        <div class="gem_desc">
                            <p>
                                A good building stone should have compact fine crystalline structure free from cavities,
                                cracks or patches of soft or loose material.
                                The stones with such texture are strong and durable.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a asp-controller="Home"
                   asp-action="Appointment" asp-route-gemStoneId="3" class="gemstone_hover">
                    <div class="gemsingle">
                        <img src="~/images/red_coral.png" alt="image found" class="img-responsive hello">
                        <h2 class="text_modify">RED CORAL</h2>
                        <div class="gem_desc">
                            <p>
                                A good building stone should have compact fine crystalline structure free from cavities,
                                cracks or patches of soft or loose material.
                                The stones with such texture are strong and durable.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a asp-controller="Home"
                   asp-action="Appointment" asp-route-gemStoneId="4"  class="gemstone_hover">
                    <div class="gemsingle">
                        <img src="~/images/emerald.png" alt="image found" class="img-responsive hello">
                        <h2 class="text_modify">EMERALD</h2>
                        <div class="gem_desc">
                            <p>
                                A good building stone should have compact fine crystalline structure free from cavities,
                                cracks or patches of soft or loose material.
                                The stones with such texture are strong and durable.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a asp-controller="Home"
                    asp-action="Appointment" asp-route-gemStoneId="5"  class="gemstone_hover">
                    <div class="gemsingle">
                        <img src="~/images/topaz.png" alt="image found" class="img-responsive hello">
                        <h2 class="text_modify">TOPAZ</h2>
                        <div class="gem_desc">
                            <p>
                                A good building stone should have compact fine crystalline structure free from cavities,
                                cracks or patches of soft or loose material.
                                The stones with such texture are strong and durable.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a asp-controller="Home"
                   asp-action="Appointment" asp-route-gemStoneId="6" class="gemstone_hover">
                    <div class="gemsingle">

                        <img src="~/images/diamond.png" alt="image found" class="img-responsive hello">
                        <h2 class="text_modify">DIAMOND</h2>
                        <div class="gem_desc">
                            <p>
                                A good building stone should have compact fine crystalline structure free from cavities,
                                cracks or patches of soft or loose material.
                                The stones with such texture are strong and durable.
                            </p>
                        </div>

                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center">
                <a asp-controller="Home"
                   asp-action="Appointment" asp-route-gemStoneId="7"  class="gemstone_hover">
                    <div class="gemsingle">
                        <img src="~/images/yellow_sap.png" alt="image found" class="img-responsive hello">
                        <h2 class="text_modify">YELLOW SAPPHIRE</h2>
                        <div class="gem_desc">
                            <p>
                                A good building stone should have compact fine crystalline structure free from cavities,
                                cracks or patches of soft or loose material.
                                The stones with such texture are strong and durable.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a asp-controller="Home"
                   asp-action="Appointment" asp-route-gemStoneId="8"  class="gemstone_hover">
                    <div class="gemsingle">
                        <img src="~/images/blue_sap.png" alt="image found" class="img-responsive hello">
                        <h2 class="text_modify">BLUE SAPPHIRE</h2>
                        <div class="gem_desc">
                            <p>

                            </p>
                        </div>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 text-center">
                <a asp-controller="Home"
                   asp-action="Appointment" asp-route-gemStoneId="9"  class="gemstone_hover">
                    <div class="gemsingle">
                        <img src="~/images/cats_eye.png" alt="image found" class="img-responsive hello">
                        <h2 class="text_modify">CAT'S EYE</h2>
                        <div class="gem_desc">
                            <p>
                                A good building stone should have compact fine crystalline structure free from cavities,
                                cracks or patches of soft or loose material.
                                The stones with such texture are strong and durable.
                            </p>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>

