
@{
    ViewData["Title"] = "Mantra";
}
<h1>

    The Best Mantra for Your Zodiac Sign
</h1>
<div class="text-center">
    <h3>Aries (March 21 to April 19)</h3>
    <p >
        

        Your ideal mantra: "Patience, Patience"

        To counter this sign's tendency toward restlessness (keep reading!),
        Edut recommends a mantra that cultivates the art of restraint. Aries like to be first,
        Edut says, but in some scenarios they may jump the gun and then have to go back and try again,
        because they moved too quickly the first time. A reminder to be patient can be a game-changer.
    </p>
    <img src="~/images/s1.PNG"/>

    <h3> Taurus (April 20 to May 20)</h3>
    <p>


        Your ideal mantra: "Embrace Change"

        Stable, consistent Taurus seeks security—and there's nothing
        inherently wrong with that. The flip side, though, is the possibility of getting stuck in a rut.
        This sign often needs a nudge to be open to change,
        Edut says, and adapting a mantra that speaks to trusting change may be just the thing.
    </p>
    <img src="~/images/s2.PNG"/>
    <h3> Gemini (May 21 to June 20)</h3>
    <p>



        Your ideal mantra: "Hit the Pause Button"

        Depending on the day, Gemini can be charming and adventurous, or restless
        and distracted. A useful way to find a balance between these states is to repeat a mantra
        that will be centering and grounding,
        prompting you take a moment to connect to your true feelings, Edut says.
    </p>
    <img src="~/images/s3.PNG"/>

    <h3> Cancer (June 21 to July 22)</h3>
    <p>


        Your ideal mantra: "Own It"

        Some signs don't need any encouragement to come out and show their full selves to others—but Cancer is typically not one of those signs. Edut notes that Cancer can be fearful of things that are new, or of being rejected or abandoned. She suggests trying a mantra that will give you the confidence to unabashedly be yourself.
    </p>
    <img src="~/images/s4.PNG"/>
    <h3> Leo (July 23 to August 22)</h3>
    <p>


        Your ideal mantra: "It's Okay to Just Be"

        Needing praise, validation and attention are common among Leos;
        they often fear being alone (or ignored). Practicing stillness isn't easy for this sign,
        but it can be rewarding.
        Edut's go-to Leo mantras involve phrases that stress the importance of staying present and not getting swept up in drama.

    </p>
    <img src="~/images/s5.PNG"/>
    <h3> Virgo (August 23 to September 22)</h3>
    <p>


        Your ideal mantra: "Imperfection Is Beautiful"

        Virgos are perfectionists, and can be hard on themselves—and others—when it comes to feelings of worthiness
        or being enough. You are good enough, Edut says. Repeat a mantra about the beauty of imperfection to yourself anytime
        you start feeling overwhelmed, or find yourself being critical. Or when you notice you just rolled your eyes at your partner
        for leaving his socks on the floor again.
    </p>
    <img src="~/images/s6.PNG"/>
    <h3> Libra (September 23 to October 22)</h3>
    <p>



        Your ideal mantra: "Speak My Mind"

        If you're a Libra, having a mantra that reminds you to voice how you feel
        and be direct can be immensely helpful in countering your tendency to avoid conflict and be a people pleaser,
        says Edut. This sign often defaults to overthinking and worrying about others being mad at them. Assert yourself,
        Edut says, and be honest.
    </p>
    <img src="~/images/s7.PNG"/>

    <h3>Scorpio (October 23 to November 21)</h3>
    <p>



        Your ideal mantra: "Don't Hide"

        All hail the passion, loyalty and bravery of Scorpio—that is,
        until jealousy or manipulation rears its head. This intense sign can be inclined to feelings of paranoia
        and could be intimidating, so Edut's advice is to call on a mantra that stresses transparency and allows others
        to see the part of you that might be sensitive.
    </p>
    <img src="~/images/s8.PNG"/>
    <h3> Sagittarius (November 22 to December 21)</h3>
    <p>




        Your ideal mantra: "Focus and Commit"

        Risk-taking, fearless Sagittarians often want to do things themselves,
        and they bristle at hearing "you can't." But since they may not feel comfortable with receiving help,
        and may behave overconfidently or recklessly, Edut says they should internalize a mantra about not biting
        off more than they can chew.
    </p>
    <img src="~/images/s9.PNG"/>

    <h3> Capricorn (December 22 to January 19)</h3>
    <p>


        Your ideal mantra: "I Don't Need to Do It All"

        Edut says this hard-working sign can be tough on themselves,
        taking on responsibility for things that are above and beyond the call of duty.
        It's okay to trust other people, she says. Capricorns need to know that they have capable people all around them.

    </p>
    <img src="~/images/s10.PNG"/>

    <h3>Aquarius (January 20 to February 18)</h3>
    <p>



        Your ideal mantra: "My Uniqueness Is my Gift"

        Team players and friends with everyone,
        Aquarians can be reluctant to step into power roles because they don't
        want to be disliked. Edut finds that mantras about believing in your own talents
        and gifts can be incredibly rewarding—and make the world a better place.

    </p>
    <img src="~/images/s11.PNG"/>

    <h3> Pisces (February 19 to March 20)</h3>
    <p>




        Your ideal mantra: "The Universe Has My Back"

        Does the phrase "Why does this always happen to me?" ring a bell? Check yourself from falling into a hole of self-pity, and you'll be all right, says Edut. Pisces is romantic, helpful, wise, comforting and imaginative, all wonderful attributes made even better when you have faith that no one's out to get you.
    </p>
    <img src="~/images/s12.PNG"/>

</div>
