
@{
    ViewData["Title"] = "Scorpio";
}

    <div class="container">
        <div class="row">
            <div class="col-md-8 col-xs-12 m-t-40">
                <span class="text-primary font35">
                    
                    <img src="~/images/scorpio.png"
                    alt="logo missing"> Scorpio Quote
                </span>
                <div class="clearfix visible-xs-block"></div>
                <span class="wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.1s">(Oct. 23 – Nov. 21)</span>
                <div class="row wow fadeIn" data-wow-duration="1s" data-wow-delay="0.2s">
                    <div class="col-xs-12">
                        <ul class="nav nav-tabs elements_desc signsingle_nav" role="tablist">
                            <li class="active">
                                <a href="#tab1" role="tab" data-toggle="tab"><span class="font14 blog_pre">Yesterday</span></a>
                            </li>
                            <li>
                                <a href="#tab2" role="tab" data-toggle="tab"><span class="font14">Today</span></a>
                            </li>
                            <li>
                                <a href="#tab3" role="tab" data-toggle="tab"><span class="font14">Tomorrow</span></a>
                            </li>
                            <li>
                                <a href="#tab4" role="tab" data-toggle="tab"><span class="font14">This Week</span></a>
                            </li>
                            <li>
                                <a href="#tab5" role="tab" data-toggle="tab" class="tab_active"><span class="font14">This Month</span></a>
                            </li>
                            <li>
                                <a href="#tab6" role="tab" data-toggle="tab"><span class="font14">Daily Overview</span></a>
                            </li>
                            <li>
                                <a href="#tab7" role="tab" data-toggle="tab"><span class="font14">2017</span></a>
                            </li>
                        </ul>
                        <div class="tab-content tab_singlepost">
                            <div class="tab-pane active" id="tab1">
                                <div class="row">
                                    <div class="col-xs-6 text-primary elements_desc">Tuesday, July 5th, 2016</div>
                                    <div class="col-xs-6 text-right elements_desc">
                                        <a href="#">
                                            <i class="fa fa-facebook-square header_icons fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-twitter-square header_icons fa-lg"></i>
                                        </a>
                                        <a href="#">
                                            <i class="fa fa-google-plus-square header_icons fa-lg" aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="elements_desc">
                                            I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle.
                                            But if you can't handle me at my worst, then you sure as hell don't deserve me at my best
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab2">
                                <div class="row">
                                    <div class="col-xs-6 text-primary elements_desc">Wednesday, July 6th, 2020</div>
                                    <div class="col-xs-6 text-right elements_desc">
                                        <a href="#"><i class="fa fa-facebook-square header_icons fa-lg"></i></a>
                                        <a href="#"><i class="fa fa-twitter-square header_icons fa-lg"></i></a>
                                        <a href="#">
                                            <i class="fa fa-google-plus-square header_icons fa-lg"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="elements_desc">
                                            I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle.
                                            But if you can't handle me at my worst, then you sure as hell don't deserve me at my best
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab3">
                                <div class="row">
                                    <div class="col-xs-6 text-primary elements_desc">Thursday, July 7th, 2020</div>
                                    <div class="col-xs-6 text-right elements_desc">
                                        <a href="#">
                                            <i class="fa fa-facebook-square header_icons fa-lg"></i>
                                        </a>
                                        <a href="#"><i class="fa fa-twitter-square header_icons fa-lg"></i></a>
                                        <a href="#">
                                            <i class="fa fa-google-plus-square header_icons fa-lg"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="elements_desc">
                                            I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle.
                                            But if you can't handle me at my worst, then you sure as hell don't deserve me at my best
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab4">
                                <div class="row">
                                    <div class="col-xs-6 text-primary elements_desc">Wednesday, July 6th, 2020</div>
                                    <div class="col-xs-6 text-right elements_desc">
                                        <a href="#">
                                            <i class="fa fa-facebook-square header_icons fa-lg"></i>
                                        </a>
                                        <a href="#"><i class="fa fa-twitter-square header_icons fa-lg"></i></a>
                                        <a href="#">
                                            <i class="fa fa-google-plus-square header_icons fa-lg"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="elements_desc">
                                            I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle.
                                            But if you can't handle me at my worst, then you sure as hell don't deserve me at my best
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab5">
                                <div class="row">
                                    <div class="col-xs-6 text-primary elements_desc">Wednesday, July 6th, 2020</div>
                                    <div class="col-xs-6 text-right elements_desc">
                                        <a href="#">
                                            <i class="fa fa-facebook-square header_icons fa-lg"></i>
                                        </a>
                                        <a href="#"><i class="fa fa-twitter-square header_icons fa-lg"></i></a>
                                        <a href="#">
                                            <i class="fa fa-google-plus-square header_icons fa-lg"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="elements_desc">
                                            I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle.
                                            But if you can't handle me at my worst, then you sure as hell don't deserve me at my best
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab6">
                                <div class="row">
                                    <div class="col-xs-6 text-primary elements_desc">Wednesday, July 6th, 2020</div>
                                    <div class="col-xs-6 text-right elements_desc">
                                        <a href="#">
                                            <i class="fa fa-facebook-square header_icons fa-lg"></i>
                                        </a>
                                        <a href="#"><i class="fa fa-twitter-square header_icons fa-lg"></i></a>
                                        <a href="#">
                                            <i class="fa fa-google-plus-square header_icons fa-lg"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="elements_desc">
                                            I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle.
                                            But if you can't handle me at my worst, then you sure as hell don't deserve me at my best
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane" id="tab7">
                                <div class="row">
                                    <div class="col-xs-6 text-primary elements_desc">Wednesday, July 6th, 2016</div>
                                    <div class="col-xs-6 text-right elements_desc">
                                        <a href="#">
                                            <i class="fa fa-facebook-square header_icons fa-lg"></i>
                                        </a>
                                        <a href="#"><i class="fa fa-twitter-square header_icons fa-lg"></i></a>
                                        <a href="#">
                                            <i class="fa fa-google-plus-square header_icons fa-lg"
                                               aria-hidden="true"></i>
                                        </a>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-xs-12">
                                        <p class="elements_desc">
                                            I'm selfish, impatient and a little insecure. I make mistakes, I am out of control and at times hard to handle.
                                            But if you can't handle me at my worst, then you sure as hell don't deserve me at my best
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>

